{{#if addNewTrick}}
<h1>New trick</h1>
<div class="col-md-4">
  <form>
    <div class="form-group">
      <label for="title">Title</label> {{input value=title id="title" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="content1">1st partcontent2</label> {{textarea value=content1 id="content1" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="content2">2nd part</label> {{textarea value=content2 id="content2" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="image1">1st image</label> {{input value=image1 id="image1" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="image2">2nd image</label> {{input value=image2 id="image2" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="video">Video url </label> {{input value=video id="video" class="form-control"}}
    </div>

    <button class="btn btn-success" {{action 'saveTrick1' trick}}>Save</button>
    <button class="btn btn-primary" {{action 'trickFormHide'}}>Hide</button>
  </form>
</div>
{{else}}
  <button class="btn btn-success"{{action 'trickFormShow'}}>New Trick</button>
  {{/if}}
