{{outlet}}

{{#if session.isAuthenticated}}
  <button name="button" class="btn"{{action 'logout'}}>Logout</button>
  <h1>Available dogs</h1>
  <ul>
    {{#each model.dogs as |dog|}}
      {{admin-tile dog=dog update="update" destroyDog="destroyDog"}}
    {{/each}}
  </ul>

  {{new-dog saveDog2="saveDog3"}}

  <h1>Available puppies</h1>
  <ul>
    {{#each model.puppies as |puppy|}}
      <li>{{admin-puppy-tile puppy=puppy destroyPuppy="destroyPuppy"}}</li>
    {{/each}}
  </ul>

  {{new-puppy update="update" savePuppy2="savePuppy3"}}

<ul>
    {{#each model.tricks as |trick|}}
  {{trick-tile trick=trick}}
  {{/each}}
  </ul>

{{new-trick saveTrick2="saveTrick3"}}
{{else}}
  {{login-form logIn='logIn'}}
  {{/if}}
