  <div class="col-md-6">
<li>
  <p><img class="materialboxed" src={{dog.image1}} class="img-thumbnail" alt={{dog.name}}></p>
    <div class="content">
  Name: {{dog.name}} <br>Colour: {{dog.color}} <br> Age: {{dog.age}} <br>
  {{#link-to 'dog'  dog.id class= "btn btn-primary"}} See more{{/link-to}}
</div>
</li>
</div>

<!-- jquery for the materialboxed functionality -->
<script type="text/javascript">
$(document).ready(function(){
   $('.materialboxed').materialbox();
 });
</script>
