
<li>
  Name: {{dog.name}} <br>Colour: {{dog.color}} <br> Age: {{dog.age}} <br>
  <p><img class="materialboxed" src={{dog.image1}} alt={{dog.name}}></p>

  {{#link-to 'dog'  dog.id class= "btn btn-primary"}} See more{{/link-to}}
</li>

<!-- jquery for the materialboxed functionality -->
<script type="text/javascript">
$(document).ready(function(){
   $('.materialboxed').materialbox();
 });
</script>
