
<li>
  {{dog.name}} <br>{{dog.color}} <br> {{dog.age}} <br>
  <p><img src={{dog.image1}} alt= {{dog.name}}></p>

  <button class="btn btn-danger"{{action 'delete' dog}}>Delete</button>
</li>
{{update-dog dog=dog update="update"}}
