<h4>Name: {{puppy.name}}</h4>
<h4>Age: {{puppy.age}} &nbsp; &nbsp; Breed: {{puppy.breed}}</h4>
<h4>&nbsp;&nbsp; Title: {{puppy.title}}</h4>
<h5>Description:</h5>
  <p>{{puppy.description}}</p>

  <p>Recommendation: <em>this and that</em></p>

<button class="btn btn-danger"{{action 'delete' puppy}}>Delete</button>

  {{update-puppy puppy=puppy update="update"}}
