<li>
  Name: {{puppy.name}} <br>Colour: {{puppy.color}} <br> Age: {{puppy.age}} <br>
  <p><img src={{puppy.image1}} alt={{puppy.name}}></p>

{{#link-to 'admin2'  puppy.id class= "btn btn-primary"}} See more{{/link-to}}
</li>
