<h4>Name: {{model.name}}</h4>
<h4>Age: {{model.age}} &nbsp; &nbsp; Breed: {{model.breed}}</h4>
<h4>&nbsp;&nbsp; Title: {{model.title}}</h4>
<h5>Description:</h5>
  <p>{{model.description}}</p>

  <p>Recommendation: <em>this and that</em></p>
  <button class="btn btn-danger"{{action 'delete' dog}}>Delete</button>
