{{#if addNewPuppy}}
<h1>New puppy</h1>
<div class="row">
<div class="col-md-4">
  <form>
    <div class="form-group">
      <label for="name">Name</label> {{input value=name id="name" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="age">Age</label> {{input value=age id="age" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="breed">Breed</label> {{input value=breed id="breed" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="gender">Gender</label> {{input value=gender id="gender" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="image1">1st image</label> {{input value=image1 id="image1" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="image2">2nd image</label> {{input value=image2 id="image2" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="image3">3rd image</label> {{input value=image3 id="image3" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="color">Color</label> {{input value=color id="color" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="nickname">Nickname</label> {{input value=nickname id="nickname" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="title">Title</label> {{input value=title id="title" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="recomendation">Recomendation</label> {{input value=recomendation id="recomendation" class="form-control"}}
    </div>


    <div class="form-group">
      <label for="description">Description</label> {{textarea value=description id="description" class="form-control"}}
    </div>
    <button class="btn btn-success" {{action 'savePuppy1' dog}}>Save</button>
    <button class="btn btn-primary" {{action 'puppyFormHide'}}>Hide</button>
  </form>
</div>
</div>
{{else}}
  <button class="btn btn-success"{{action 'puppyFormShow'}}>New Puppy</button>
  {{/if}}
